canvas {
  position: fixed;
  top: 0;
  left: 0;
}
body{
  overflow: hidden;
}
main {
  position: absolute;
}
wrapper {
  height: 100vh;
  display: grid;
  top: 0;
  left: 0;
  position: fixed;
}

header {
  position: absolute;
  color: white;
  text-align: center;
  align-self: center;
  width: 100vw;
}

.links {
  width: 1fr;
  min-width:160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

